.orderInstructions {
  padding: 40px 300px;
  background-color: #F4F3F6;
}

.orderInstructions__list {
  display: flex;
  justify-content: space-between;
}

.orderInstructions__item {
  flex: 1;
  text-align: center;
}

.orderInstructions__item:not(:last-child) {
  margin-right: 45px;
}