.common {
  position: absolute;
  font-family: "Roboto Bold";
  text-align: center;
  outline-color: #FFA800;
  cursor: pointer;
}

.enable {
  background-color: red;
  /* background-color: #f2f2f2; */
  color: #000;
}

.enable:hover {
  outline: 1px solid #FFA800;
  z-index: 5;
}

.disable {
  background-color: #ccc;
  color: #e8e8e8;
  cursor: default;
}

.active {
  background-color: #FFA800;
}