.passengers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.passengers__number {
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #E5E5E5;
}

.passengers__cost__value {
  margin-right: 7px;
  font-family: "Roboto Bold";
  font-size: 24px;
}

.passengers__cost__currency {
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #E5E5E5;
}