.form {
  background-color: rgba(41, 41, 41, .8);
}

.form_main {
  padding: 79px 24px 60px;
}

.form_search {
  width: fit-content;
  margin: 0 auto;
  padding: 28px 44px 76px;
}

.form__main__wrapper {
  margin-bottom: 92px;
}

.form__search__wrapper {
  display: flex;
  margin-bottom: 47px;
}

.form__main__direction {
  margin-bottom: 61px;
}

.form__search__direction {
  margin-right: 35px;
}

.form__label {
  display: block;
  margin-bottom: 15px;
  font-family: "Roboto Light";
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.form__fields {
  display: flex;
  justify-content: space-between;
}

.direction input {
  background-image: url('../../../assets/images/icon_geolocation.png');
  background-repeat: no-repeat;
  background-position: 95%;
}

.date input {
  background-image: url('../../../assets/images/icon_calendar.png');
  background-repeat: no-repeat;
  background-position: 95%;
}

.form input {
  width: 325px;
}

.form__icon {
  margin: 0 8px;
  align-self: center;
}

.form__button__wrapper {
  text-align: right;
}