.ticket__carriage__header {
  display: flex;
}

.ticket__carriage__number {
  align-self: start;
  padding: 30px 37px;
  font-family: "Roboto Bold";
  font-size: 72px;
  line-height: 1;
  color: #292929;
  background-color: rgba(255, 168, 0, 0.44);
}

.ticket__carriage__number span {
  display: block;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #292929;
}

.ticket__carriage__info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 33px 59px 0 85px;
}

.ticket__carriage__seats h5,
.ticket__carriage__price h5,
.ticket__carriage__services h5 {
  margin-bottom: 17px;
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #928F94;
}

.ticket__carriage__seats__total {
  color: #000;
}

.ticket__carriage__seats p {
  margin-bottom: 24px;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #000;
}

.ticket__carriage__seats__quantity {
  margin-left: 5px;
  font-family: "Roboto Bold";
  color: inherit;
}

.ticket__carriage__price__value {
  margin-bottom: 24px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #000;
}

.ticket__carriage__price__currency {
  margin-left: 10px;
  color: #928F94;
}

.ticket__carriage__services span {
  color: #C4C4C4;
}

.ticket__carriage__services__list {
  display: flex;
}

.ticket__carriage__services__item {
  margin-right: 13px;
  cursor: pointer;
}

.ticket__carriage__services__item:hover svg {
  fill: #FFA800;
}

.ticket__carriage__services__item.active svg {
  fill: #FDB935;
}

.ticket__carriage__services__item.active rect {
  stroke: #FDB935;
}

.ticket__carriage__services__item.active path {
  fill: #fff;
}

.ticket__carriage__services__item.disable {
  cursor: default;
}

.ticket__carriage__services__item.disable svg {
  fill: #FCDC9D;
}

.ticket__carriage__services__item.disable rect {
  stroke: #FCDC9D;
}

.ticket__carriage__services__item.disable path {
  fill: #928F94;
}

.ticket__carriage__demand {
  width: 199px;
  margin: 0 42px 10px auto;
  padding: 16px;
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #292929;
  background-color: #F3F3F3;
  border-radius: 5px;
}

.ticket__carriage__scheme {
  padding: 0 20px 25px;
}

.ticket__carriage__sum {
  margin-right: 38px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #FFA800;
  text-align: end;
}

.ticket__carriage__sum__currency {
  margin-left: 8px;
  font-family: "Roboto Regular";
  color: #928F94;
}