.ticketCard {
  display: flex;
  margin-bottom: 47px;
  background-color: #fff;
  border: 1px solid #E4E0E9;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
  cursor: default;
}

.ticketCard:hover {
  border-color: #FFA800;
}

.ticketCard__train {
  padding: 58px 42px 92px 26px;
  background-color: #E4E0E9;
}

.ticketCard__train__icon {
  margin: 0 auto 17px;
  display: block;
}

.ticketCard__train__number {
  margin-bottom: 15px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #3E3C41;
  text-align: center;
}

.ticketCard__train__direction {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #292929;
}

.ticketCard__routes {
  padding: 54px 55px 0 39px;
  border-right: 1px solid #E5E5E5;
}

.ticketCard__routes > div {
  margin-bottom: 66px;
}

.ticketCard__seats {
  flex: 1;
  padding: 37px 22px 23px 27px;
}

.ticketCard__options {
  margin-top: 31px;
  margin-bottom: 19px;
  text-align: end;
}

.ticketCard__options svg:not(:last-child) {
  margin-right: 15px;
}