.ticket {
  margin-bottom: 29px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.ticket__direction {
  padding: 36px 19px 32px;
}

.ticket__direction svg {
  margin-right: 10px;
}

.ticket__direction button {
  vertical-align: top;
}

.arrival {
  text-align: end;
}

.ticket__count {
  padding: 40px 0 49px;
  border-bottom: 1px dotted #C4C4C4;
}

.ticket__subtitle {
  margin-left: 19px;
  margin-bottom: 20px;
  font-family: "Roboto Bold";
  font-size: 30px;
  color: #292929;
}

.ticket__count__wrapper {
  display: flex;
}

.ticket__count__wrapper > div {
  flex: 1;
}

.ticket__carriages {
  padding: 27px 0 32px;
}

.ticket__carriages__types__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 26px;
}

.ticket__carriages__types__item {
  text-align: center;
}

.ticket__carriages__types__item svg {
  margin-bottom: 18px;
}

.ticket__carriages__types__item:hover path {
  fill: #FFA800;
}

.ticket__carriages__types__item__caption {
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #292929;
  transition: .3s;
}

.ticket__carriages__types__item:hover .ticket__carriages__types__item__caption {
  color: #FFA800;
}

.ticket__carriages__quantity {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 33px;
  background-color: rgba(255, 168, 0, 0.44);
}

.ticket__carriages__quantity__wrapper {
  display: flex;
  align-items: baseline;
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #2D2B2F;
}

.ticket__carriages__list {
  display: flex;
  margin-left: 8px;
}

.ticket__carriages__item {
  margin-right: 8px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.ticket__carriages__item.active {
  color: #fff;
}

.ticket__carriages__quantity__caption {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #292929;
}