.ticket {
  margin-bottom: 29px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.ticket__direction {
  padding: 36px 19px 32px;
}

.ticket__direction svg {
  margin-right: 10px;
}

.ticket__direction button {
  vertical-align: top;
}

.arrival {
  text-align: end;
}

.ticket__info {
  display: flex;
}

.ticket__info div {
  background-color: #F7F6F6;
}

.ticket__info > div:not(:last-child) {
  margin-right: 1px;
}

.ticket__info__train, .ticket__info__duration {
  display: flex;
  align-items: center;
}

.ticket__info__train {
  padding: 17px 15px 16px 35px;
}

.ticket__info__train img {
  width: 30px;
  margin-right: 30px;
  object-fit: contain;
}

.ticket__info__train__number {
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #3E3C41;
}

.ticket__info__train__direction {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #292929;
}

.ticket__info__schedule {
  padding: 28px 41px 26px 36px;
}

.ticket__info__schedule time:has(+ img) {
  opacity: 0;
}

.ticket__info__duration {
  padding: 42px 70px 41px 35px;
}

.ticket__info__duration img {
  margin-right: 10px;
}

.ticket__info__duration p {
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #000;
}

.ticket__count {
  padding: 40px 0 49px;
  border-bottom: 1px dotted #C4C4C4;
}

.ticket__subtitle {
  margin-left: 19px;
  margin-bottom: 20px;
  font-family: "Roboto Bold";
  font-size: 30px;
  color: #292929;
}

.ticket__count__wrapper {
  display: flex;
}

.ticket__count__wrapper > div {
  flex: 1;
}

.ticket__carriages {
  padding: 27px 0 32px;
}

.ticket__carriages__types__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 26px;
}

.ticket__carriages__types__item {
  text-align: center;
}

.ticket__carriages__types__item svg {
  margin-bottom: 18px;
}

.ticket__carriages__types__item:hover path {
  fill: #FFA800;
}

.ticket__carriages__types__item__caption {
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #292929;
  transition: .3s;
}

.ticket__carriages__types__item:hover .ticket__carriages__types__item__caption {
  color: #FFA800;
}

.ticket__carriages__quantity {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 33px;
  background-color: rgba(255, 168, 0, 0.44);
}

.ticket__carriages__quantity__wrapper {
  display: flex;
  align-items: baseline;
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #2D2B2F;
}

.ticket__carriages__list {
  display: flex;
  margin-left: 8px;
}

.ticket__carriages__item {
  margin-right: 8px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.ticket__carriages__item.active {
  color: #fff;
}

/* .ticket__carriages__item:active {
  color: #fff;
} */

.ticket__carriages__quantity__caption {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #292929;
}

.ticket__carriage__header {
  display: flex;
}

.ticket__carriage__number {
  align-self: start;
  padding: 30px 37px;
  font-family: "Roboto Bold";
  font-size: 72px;
  line-height: 1;
  color: #292929;
  background-color: rgba(255, 168, 0, 0.44);
}

.ticket__carriage__number span {
  display: block;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #292929;
}

.ticket__carriage__info {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 33px 59px 0 85px;
}

.ticket__carriage__seats h5,
.ticket__carriage__price h5,
.ticket__carriage__services h5 {
  margin-bottom: 17px;
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #928F94;
}

.ticket__carriage__seats__total {
  color: #000;
}

.ticket__carriage__seats p {
  margin-bottom: 24px;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #000;
}

.ticket__carriage__seats__quantity {
  margin-left: 5px;
  font-family: "Roboto Bold";
  color: inherit;
}

.ticket__carriage__price__value {
  margin-bottom: 24px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #000;
}

.ticket__carriage__price__currency {
  margin-left: 10px;
  color: #928F94;
}

.ticket__carriage__services span {
  color: #C4C4C4;
}

.ticket__carriage__services svg {
  margin-right: 13px;
}

.ticket__carriage__services svg:hover {

}