.orange {
  padding: 17px 68px;
  font-family: "Roboto Bold";
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  background-color: #FFA800;
  border: 1px solid #FFA800;
  border-radius: 5px;
  text-transform: uppercase;
  transition: .3s;
}

.orange:hover {
  color: #FFA800;
  background-color: #292929;
}

.orangeWhite {
  padding: 8px 25px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #fff;
  background-color: #FFA800;
  border-radius: 5px;
  transition: .3s;
}

.orangeWhite:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.black {
  padding: 15px 15px;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #E5E5E5;
  background-color: #2D2B2F;
  border: 1px solid #FFF;
  border-radius: 3px;
  text-transform: uppercase;
  transition: .3s;
}

.black:hover {
  color: #FFA800;
  border-color: #FFA800;
}