.orange {
  padding: 17px 68px;
  font-family: "Roboto Bold";
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  background-color: #FFA800;
  border-radius: 5px;
  text-transform: uppercase;
}

.black {
  padding: 15px 15px;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #E5E5E5;
  background-color: #2D2B2F;
  border: 1px solid #FFF;
  border-radius: 3px;
  text-transform: uppercase;
}