.advantages {
  position: relative;
  padding: 69px 0 90px;
  background-image: url('../assets/images/advantages-background.png');
}

.advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 168, 0, .8);
  z-index: -1;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
}

.advantages__title {
  font-family: "Roboto Medium";
  font-size: 36px;
  line-height: normal;
  text-transform: uppercase;
}

.advantages__link {
  padding: 15px 76px;
  font-family: "Roboto Bold";
  font-size: 24px;
  line-height: normal;
  color: #FFF;
  outline: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
}

.advantages__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.advantages__item {
  width: 226px;
  text-align: center;
}

.advantages__item:not(:last-child) {
  margin-right: 150px;
}