.main {
  padding-top: 406px;
  background-image: url('../assets/images/main-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 250px; */
}

.main__contentTagline {
  margin-right: 145px;
  font-family: "Roboto Thin";
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

.main__contentTagline em {
  display: block;
  font-family: "Roboto Bold";
  font-style: normal;
}