.lastTicket {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 18px 20px 14px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(62, 60, 65, 0.25);
  transition: .3s;
  cursor: pointer;
}

.lastTicket:not(:last-child) {
  margin-bottom: 17px;
}

.lastTicket:hover {
  border-color: #FFA800;
}

.lastTicket__place__city {
  margin-bottom: 5px;
  font-family: "Roboto Regular";
  font-size: 20px;
  color: #292929;
}

.lastTicket__place__station {
  margin-bottom: 29px;
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #928F94;
}

.column_2 {
  text-align: right;
}

.lastTicket__options, .lastTicket__cost {
  align-self: baseline;
}

.lastTicket__options svg:not(:last-child) {
  margin-right: 8px;
}

.lastTicket__cost {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #928F94;
}

.lastTicket__cost__value {
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Roboto Bold";
  font-size: 36px;
  color: #FFA800;
}

.lastTicket__cost__currency {
  font-family: "Roboto Regular";
  font-size: 36px;
  color: inherit;
}