.filter {
  width: 360px;
  background-color: #3E3C41;
}

.filter__block {
  border-bottom: 1px solid #E5E5E5;
}

.filter__block:nth-child(1) {
  padding: 43px 30px 33px;
}

.filter__block:nth-child(2) {
  padding: 25px 30px 21px 60px;
}

.filter__block:nth-child(3) {
  padding: 37px 30px 55px;
}

.filter input[type='date'] {
  width: 295px;
}

.filter input[type='date']:not(:last-child) {
  margin-bottom: 26px;
}

/* .filter__range {
  accent-color: #FFA800;
} */