.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  cursor: pointer;
}

.header div:first-child {
  display: flex;
  align-items: center;
}

.header svg {
  width: 32px;
  height: 26px;
  margin-right: 12px;
}

.header__title {
  font-family: "Roboto Bold";
  font-size: 30px;
}

.header__collapse {
  width: 20px;
  height: 20px;
  font-family: "Roboto Bold";
  font-size: 16px;
  line-height: 1;
  color: #C4C4C4;
  background-color: transparent;
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-family: "Roboto Regular";
  font-size: 24px;
}

.title + div {
  margin-bottom: 46px;
}

.title.arrival {
  text-align: end;
}