.header {
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.header__logo {
  position: relative;
  padding-top: 15px;
}

.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
}