.orderFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 80px;
  background-color: #FFA800;
}

.orderFooter__rating {
  display: flex;
  align-items: center;
}

.orderFooter__rating span {
  margin-right: 30px;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #292929;
}

.orderFooter__link {
  padding: 18px 10px;
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #292929;
  background-color: #FFA800;
  border: 1px solid #3E3C41;
  border-radius: 5px;
  text-transform: uppercase;
  transition: .3s;
}

.orderFooter__link:hover {
  color: #fff;
  border-color: #fff;
}

.orderFooter__link:active {
  opacity: .5;
}