.form {
  padding: 79px 24px 60px;
  background-color: rgba(41, 41, 41, .8);
}

.form__label {
  display: block;
  margin-bottom: 15px;
  font-family: "Roboto Light";
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.form__fields {
  display: flex;
  justify-content: space-between;
}

.direction input {
  background-image: url(../../assets/images/icon_geolocation.png);
  background-repeat: no-repeat;
  background-position: 95%;
}

.date input[type="text"] {
  background-image: url(../../assets/images/icon_calendar.png);
  background-repeat: no-repeat;
  background-position: 95%;
}

.form__input {
  width: 325px;
  padding: 19px 21px;
  border-radius: 3px;
}

.direction {
  margin-bottom: 61px;
}

.form__icon {
  margin: 0 8px;
  align-self: center;
}

.date {
  margin-bottom: 92px;
}

.form__button__wrapper {
  text-align: right;
}

.dateTooltip {
  position: relative;
}

.dateTooltip::after {
  content: 'ДД/ММ/ГГ';
  position: absolute;
  top: 19px;
  left: 21px;
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #E5E5E5;
  background-color: #fff;
}