.App {
  background-color: #F7F5F9;
}

.wrapper {
  width: 1410px;
  margin: 0 auto;
}

.footer__title {
  margin-bottom: 35px;
  font-family: "Roboto Medium";
  font-size: 30px;
}

div.App .carousel .control-dots .dot {
  width: 19px;
  height: 19px;
  background-color: #E5E5E5;
  box-shadow: none;
  opacity: 1;
}

div.App .carousel .control-dots .dot.selected {
  background-color: #C4C4C4;
}

#search-form #dateFrom {
  margin-right: 40px;
}

.order {
  display: flex;
  padding: 95px 0 193px;
}

.label {
  font-family: "Roboto Regular";
  font-size: 16px;
  color: #928F94;
}

.input {
  display: block;
  margin-top: 12px;
  padding: 12px 15px;
  font-family: "Roboto Regular";
  font-size: 24px;
  color: #292929;
}

.input::placeholder {
  color: #C4C4C4;
}

.border-928F94-5px {
  border: 1px solid #928F94;
  border-radius: 5px;
}